<div class="toast-container position-fixed bottom-0 end-0 p-3">
  <div id="toastCookies" class="toast" role="alert" aria-live="assertive" aria-atomic="true" data-bs-autohide="false">
    <div class="toast-header">
      Cookies
    </div>
    <div class="toast-body">
      <p>Usamos cookies para personalizar e melhorar sua experiência em nosso site e aprimorar a oferta de anúncios para você. Visite nossa <a href="/politica-de-privacidade">Política de Privacidade</a> para saber mais. Ao clicar em “Aceitar” você concorda com o uso que fazemos dos cookies.</p>
      <div class="mt-2 pt-2 border-top">
        <button type="button" class="btn btn-primary btn-sm" id="acceptCookiesBtn">Aceitar</button>
        <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="toast">Fechar</button>
      </div>
    </div>
  </div>
</div>
